*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}
body{
  background:url("https://wallpapercave.com/wp/wp11789974.jpg");
  background-size: contain;
  background-size: 2000px 1300px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
  width: 90%; 
  max-width: 500px; 
  color: #fff;
  margin: 128px auto 0;
  border-radius: 30px; 
  padding: 60px 40px;
  text-align: center;
  backdrop-filter: blur(8px);
  box-shadow: 0 5px 25px rgb(4, 25, 38) ;
}
.search{
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  justify-content: space-between;
}
.search input{
  border: none;
  outline: none;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 50px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 20px;
  transition: transform 0.2s ease;
}
.search input:hover {
  transform: scale(1.05);
}
.search button{
  border: none;
  outline: none;
  background: #ebfffc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  transition: transform 0.2s ease;
}
.search button:hover {
  transform: scale(1.1);
}
.search button img{
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.weather h1{
  font-size: 45px;
  font-weight: 550;
}
.weather h2{
  font-size: 30px;
  font-weight: 400;
  margin-top: -5px;
}
.details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.col{
  display: flex;
  align-items: center;
  text-align: left;
}
.col img{
  width: 40px;
  margin-right: 10px;
}
.humidity, .wind{
  font-size: 20px;
  margin-top: 10px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    color: red;
    display: none;
}
